html, body {
    height: 100%;
}

/* miscellany for reuse */
.container-center {
    text-align: center;
}

.col {
    text-align: center;
}

.section-header {
    text-align: left;
    margin-top: 15px;
}

.section-header:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block;
    width: 20%; /* Change this to whatever width you want. */
    border-bottom: 2px solid #00e8f2; /* This creates the border. Replace black with whatever color you want. */
}

/* main splash container elements */
.col-splash {
    background-color: black;
    background-image: url("images/pab-60.png");
    background-position: center;
    background-repeat: no-repeat;
}

.row-main {
    text-align: center;
    margin-top: 15%;
}

#big-splash-text {
    font-weight: bold;
    color: white;
    font-size: 36pt;
}

#small-splash-text {
    font-weight: lighter;
    color: white;
    font-size: 12pt;
}

.row-bottom {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

/* navbar items */
.btn-outline-light {
    margin-left: 10px;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

/* demo bar elements */
#simulator-row {
    margin-top: 20px;
}

#simulator-row img {
    width: 100%;
}

.simulator-section {
    text-align: center;
}

.sim-description {
    margin-top: 25px;
    text-align: left;
}

.simulator-section .far, .simulator-section .fas {
    color: #00e8f2;
}
