html, body {
    height: 100%;
    background-color: #fefefe;
}

:root {
    /* blue that I like */
    --arch-teal: #00D0FE;

    /* purple */
    /* --arch-teal: #9B59B6; */

    /* red */
    /* --arch-teal: #E74C3C; */

    /* actual arch teal */
    /* --arch-teal: #00e8f2; */
}

.nav {
    color: white;
}

/* miscellany for reuse */
.container-center {
    text-align: center;
}

#down-arrow {
    text-align: center;
}

.section-header {
    text-align: left;
    margin-top: 15px;
}

.section-header:after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 2px solid var(--arch-teal);
}

/* main splash container elements */
.col-splash {
    background-color: black;
    background-size: cover;
    background-image: url("images/pab-50.png");
    background-position: center;
    background-repeat: no-repeat;
}

.row-main {
    position: relative;
    text-align: center;
    margin-top: 200px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.row-main.expanded {
    margin-top: 250px;
}

#big-splash-text {
    font-weight: bold;
    color: white;
    font-size: 40pt;
}

#small-splash-text {
    font-weight: 200;
    color: white;
    font-size: 16pt;
}

.row-bottom {
    margin-top: 90px;
}

.row-bottom .btn {
    border-radius: 35px;
    color: white;
    border-width: 0;
    background-image: linear-gradient(0deg, var(--arch-teal), var(--arch-teal));
    text-align: center;
    width: 200px;
    height: 70px;
    font-size: 14pt;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.row-bottom .btn:hover {
    background-blend-mode: multiply;
    background-color: rgba(1, 1, 1, .2);
}

/* navbar items */
path {
    fill: white;
    stroke: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

path.scrolled {
    fill: #444;
    stroke: #444;
}

.navbar-brand:hover path.scrolled {
    fill: var(--arch-teal);
    stroke: var(--arch-teal);
}

.nav-item > a:hover {
    color: var(--arch-teal);
}

.btn-outline-light {
    margin-left: 10px;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-outline-light.scrolled {
    border-width: 0;
    color: white;
    border-color: var(--arch-teal);
    background-image: linear-gradient(0deg, var(--arch-teal), var(--arch-teal));
}

.btn-outline-light.scrolled:hover {
    background-blend-mode: multiply;
    background-color: rgba(1, 1, 1, .2);
}

.nav-link {
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-link.scrolled {
    color: #444;
}

.navbar {
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background-color: white;
}

.navbar-toggler {
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-toggler.scrolled {
    color: var(--arch-teal);
}

/* demo bar elements */
#simulator-row {
    margin-top: 20px;
}

#simulator-row img {
    width: 100%;
}

.simulator-section {
    text-align: center;
}

.sim-description {
    margin-top: 25px;
    text-align: left;
}

#simulator-row .far, #simulator-row .fas {
    color: var(--arch-teal);
}

/* demo carousel elements */
.carousel-item img {
    max-height: 500px;
    max-width: 250px;
    width: auto;
    height: auto;
    margin: auto
}

.carousel {
    max-width: 400px;
    margin: auto;
}

.carousel-indicators {
    bottom: -40px;
    color: black;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-inner {
    margin-bottom: 10px;
}

/* sponsor bar elements */
#partners-header {
    margin-top: 30px;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.horizontal-scroll>.col-3 {
    display: inline-block;
    float: none;
}

.scroll-overlay {
    position: absolute;
    right: 0;
    height: 100px;
    width: 30px;
    background-image: linear-gradient(to bottom right, #111, #333);
    opacity: .5;
    margin: auto;
    z-index: 2;
    text-align: center;
    color: white;
    line-height: 100px;
}

.scroll-overlay i {
    vertical-align: middle;
}

.sponsor-row {
    /* margin-top: 30px; */
}

#last-sponsor-row {
    margin-bottom: 30px;
}

.card {
    height: 100px;
    margin-top: 30px;
}

.custom-card-img {
    position: relative;
    width: 100%;
    height: 70px;
}

.custom-card-img>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80%;
    max-height: 60px;
    margin: auto;
}

.custom-card-title {
    position: absolute;
    bottom: 5px;
    text-decoration: none;
    color: black;
}



/* footer row elements */

#footer-row {
    height: 60px;
    line-height: 60px;
    background-color: grey;
    color: white;
    font-size: 10pt;
    font-weight: lighter;
}
